In [11]:
import psycopg2
import csv

In [41]:
conn = psycopg2.connect("host=localhost dbname=project_3 user=postgres password=postgres")
cur = conn.cursor()

In [13]:
cur.execute('''
    CREATE TABLE IF NOT EXISTS latihan_users_alissa(
    id serial PRIMARY KEY,
    email text,
    name text,
    phone text,
    postal_code text
    )
    '''
    )

In [14]:
with open('D:/Education/Digital_Skola_Data_Engineer/project_3/users_w_postal_code.csv') as f:
    csv_reader = csv.reader(f, delimiter=',')
    next(csv_reader) #skip header
    for row in csv_reader:
        cur.execute("INSERT INTO latihan_users_alissa VALUES (default, %s, %s, %s, %s) ON CONFLICT DO NOTHING", row)

In [15]:
conn.commit()

In [16]:
cur.execute("SELECT * FROM public.latihan_users_alissa")

In [17]:
#Fetch all the rows returned by the query
latihan_users_alissa = cur.fetchall()

In [18]:
#Print the list of the table names
for name in latihan_users_alissa:
    print(name)

(1, 'feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
(2, 'morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
(3, 'tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
(4, 'vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
(5, 'nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

In [19]:
#INSERT TABLE USING COPY_FROM
cur.execute('''
    CREATE TABLE IF NOT EXISTS latihan_users_alissa1(
    id serial PRIMARY KEY,
    email text,
    name text,
    phone text,
    postal_code text
    )
    '''
    )

In [20]:
with open('D:/Education/Digital_Skola_Data_Engineer/project_3/users_w_postal_code.csv') as f:
    next(f)
    cur.copy_from(f, 'latihan_users_alissa1', sep=',', columns=('email', 'name', 'phone', 'postal_code'))

In [21]:
cur.execute("SELECT * FROM public.latihan_users_alissa1")

In [22]:
#Fetch all the rows returned by the query
latihan_users_alissa1 = cur.fetchall()

In [23]:
#Print the list of the table names
for name in latihan_users_alissa1:
    print(name)

(1, 'feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
(2, 'morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
(3, 'tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
(4, 'vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
(5, 'nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')