In [1]:
import psycopg2
import csv

In [2]:
conn = psycopg2.connect("host=localhost dbname=project_3 user=postgres password=postgres")
cur = conn.cursor()

In [3]:
#INSERT TABLE USING COPY_EXPERT
cur.execute('''
    CREATE TABLE IF NOT EXISTS latihan_users_alissa2(
    email text,
    name text,
    phone text,
    postal_code text
    )
    '''
    )

In [4]:
with open('D:/Education/Digital_Skola_Data_Engineer/project_3/users_w_postal_code.csv', 'r') as f:
    cur.copy_expert(f"COPY public.latihan_users_alissa2 FROM STDIN WITH (FORMAT CSV, HEADER TRUE, DELIMITER ',')", f)

In [5]:
conn.commit()
cur.execute("SELECT * FROM public.latihan_users_alissa2")

#Fetch all the rows returned by the query
latihan_users_alissa2 = cur.fetchall()

#Print the list of the table names
for name in latihan_users_alissa2:
    print(name)

('feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
('morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
('tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
('vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
('nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

In [ ]:
pip3! install pandas
pip3! install SQLAlchemy

In [8]:
#INSERT TABLE USING PANDAS
import pandas as pd
from sqlalchemy import create_engine

In [9]:
df = pd.read_csv('D:/Education/Digital_Skola_Data_Engineer/project_3/users_w_postal_code.csv', sep=',')
df.head()

,email,name,phone,postalZip
0,feugiat.metus@yahoo.edu,Jackson Boyer,1-326-267-1884,56-066
1,morbi@hotmail.org,Devin Wolfe,(315) 718-9194,572037
2,tempor.augue@google.couk,Dennis Blackwell,1-433-880-4656,51433
3,vulputate.posuere.vulputate@protonmail.couk,Maggie Hawkins,(779) 331-8323,965863
4,nisi.magna@google.couk,Oleg Hall,1-208-578-4206,80756

In [10]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/project_3')

In [11]:
df.to_sql('from_file_table', engine)

5

In [17]:
from sqlalchemy import text

with engine.connect() as conn2:
    res = conn2.execute(text("SELECT * FROM from_file_table")).fetchall()

    for name in res:
        print(name)

(0, 'feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
(1, 'morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
(2, 'tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
(3, 'vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
(4, 'nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')